nav{
    background-color: transparent;
    border: solid green ;
    width: 60%;
    margin-left: 5%;
}

nav ul{
    color: whitesmoke;
    list-style-type: none;
    padding: .3%;
}

nav ul li{
    display: inline;
    border-style: inset;
    border-radius: 25px;
    margin: .5%;
    padding: .5% 4%;
    background-color: green;

}

nav ul li.hover{
    color: orangered;
}

button{
      border-radius: 25px;
}
#split{
    float: right;
}
#dealerFloat{
    margin-left: 10%;
}
#cover{
    margin-left: 25%;
}
#container{
     border-radius: 25px;
}